AndroidClient5/local.properties
AndroidReleases/*
AndroidClient5/captures/
iPhoneClient2/Pods/
*.xcuserstate
*.xcbkptlist
iPhoneClient2/Podfile.lock
iPhoneClient2/Templates/
iPhoneClient2/.idea/vcs.xml
iPhoneClient2/Papirus2.xcodeproj/xcuserdata/*
iPhoneClient2/Papirus2.xcworkspace/*
iPhoneClient2/.idea/
AndroidClient5/gradle.properties
.gradle/ .idea/
local.properties
gradlew
gradlew.bat
settings.gradle
.gradle/2.14.1/taskArtifacts/cache.properties
.gradle/2.14.1/taskArtifacts/cache.properties.lock
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/pyrusmobile.iml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
AndroidClient5/desktop.ini
build.gradle
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
AndroidClient5/gradle/wrapper/gradle-wrapper.jar
AndroidClient5/gradle/wrapper/gradle-wrapper.properties
.idea/PyrusMobile.iml
AndroidClient5/audiocontroller/.cxx/
.DS_Store
